---
// data import
import partners from '../js/partners';

// import list component and link
import Link from '../atoms/Link.astro';
---

{partners.map(partner => (
  <li>
    {/* Må legge til svg her */}
    <Link href={partner.url} text={partner.name} target="_blank" />
  </li>
))}
