@layer reset, variables, app;

@import url("../../node_modules/the-new-css-reset/css/reset.css") layer(reset);
@import url("variables.css") layer(variables);
@layer variables.semantic {
  :root {
    --section-background-color: oklch(100% 0 0);
    --section-foreground-color: oklch(0% 0 0);
  }
}

@layer app {
  body {
    --_body-background: var(--body-background);
    --_body-color-text: var(--body-color-text);

    background-color: var(--_body-background);
    color: var(--_body-color-text);
    font-family: "Book20", system-ui, sans-serif;
    line-height: 1.5;
  }
}
