:root {
  /* Raw values */
  --brand-blue: 219 59% 18%;
  --black: 216 7% 15%;
  --white: 0 0% 100%;
  --back-in-black: 220 26% 9%;

  --peach-orange: 26 100% 87%;
  --fresh-pink: 320 95% 93%;
  --calm-purple: 245 100% 96%;
  --energic-green: 145 71% 91%;

  /* Semantic */
  --body-background: var(--white);
  --body-color-text: var(--black);

  --newsletter-background: var(--peach-orange);

  --transparent-black-background: var(--back-in-black);

  --graph-gradient-start: 218 40% 93%;
  --graph-gradient-end: 245 88% 96%;
}
