---
// style imports
import "../styles/main.css";

// component imports
import Header from "../organisms/Header.astro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="nb-NO">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    {/* <meta name="color-scheme" content="light dark"> */}
    <title>{title}</title>
    <meta name="description" content="Møt bedriftene som vokser mest i Norge og lær av deres erfaringer">
    {
      /* <link rel="stylesheet" href="https://static1.dn.no/dn/static/assets/css/nhstfonts.css"> */
    }
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>
