@layer reset, variables, app;

@import url('../../node_modules/the-new-css-reset/css/reset.css') layer(reset);

@import url('variables.css') layer(variables);

@layer app {
  body {
    --_body-background: var(--body-background, hsl(0 0% 100%));
    --_body-color-text: var(--body-color-text, hsl(0 0% 0%));

    background-color: (--_body-background);
    color: var(--_body-color-text);
    font-family: 'Book20', system-ui, sans-serif;
    line-height: 1.5;
    padding: 3rem;
  }

  h1 {
    font-size: 2em;
  }

  a {
    text-decoration: none;
  }
}
