---
// Package imports
import { Icon } from "astro-icon";

// Atom imports
import Section from "@atoms/Section.astro";
import Grid from "@atoms/Grid.astro";
import Title from "@atoms/Title.astro";
import Text from "@atoms/Text.astro";
import List from "@atoms/List.astro";
import ListItem from "@atoms/ListItem.astro";

// Data imports
import criterias from "@data/criterias.json";
---

<Section>
  <Grid>
    <Title content="Kriterier for gasellebedrifter" />
    <List role="list">
      {
        criterias.map((item) => (
          <ListItem>
            <Icon name={item.icon.name} height={item.icon.size} />
            <Text content={item.criterion} tag="small" />
          </ListItem>
        ))
      }
    </List>
  </Grid>
</Section>

<style>
  [data-section] {
    --_section-background-color: var(--black);
  }
</style>
