---
import Link from '../atoms/Link.astro';

export interface Props {
  href: string;
  text: string;
  title: string;
}

---
<header>
  <h2>{title}</h2>
  <Link
    href
    text
  />
</header>
