---
import Layout from "../templates/Layout.astro";

import Section from "../organisms/Section.astro";

import Link from "../atoms/Link.astro";
import Criterias from "../organisms/Criterias.astro";
import Partners from "@molecules/Partners.astro";

export const prerender = true;
---

<Layout title="Gaselle | DN">
  <main>
    <h1>Forsiden</h1>
    <Section>Stats</Section>
    <Section sectionBg="pink" grid="5-1-6">
      <figure>Her er det et bilde</figure>
      <div>
        <h2 id="">Gasellene er 20 år</h2>
        <p>
          Vi har satt sammen All Time High for å hedre de mest lønnsomme og
          hurtigvoksende bedriftene i landet.
        </p>
        <Link href="#" text="Hall of fame" />
      </div>
    </Section>
    <Section>
      <header>
        <h2>Siste nytt</h2>
        <Link href="#" text="Alle artikler" />
      </header>
      <div>Artikler fra Lanterne</div>
    </Section>
    <Section sectionBg="green">
      <figure>Her er det et bilde</figure>
      <div>
        <h2>Registrer din bedrift og få Gasellediplom</h2>
        <p>
          Få Gasellediplom, egen profilside og delta i kåring av årets
          Gaselle-innovatør
        </p>
        <Link href="#" text="Registrer bedrift" />
      </div>
    </Section>
    <Section sectionBg="black">
      <h2>Se bilder og videoer fra de tidligere kåringene</h2>
      <Link href="#" text="Galleri" />
    </Section>
    <Section>
      <h2>Kriterier for gasellebedrifter</h2>
      <ol>
        <Criterias />
      </ol>
    </Section>
    <Section sectionBg="smoke">
      <h2>Våre partnere</h2>
      <Partners tagline />
      <ul></ul>
    </Section>
  </main>
</Layout>

<style></style>
