---
import Layout from "@templates/Layout.astro";

import Partners from "@molecules/Partners.astro";
import Criterias from "@molecules/Criterias.astro";

export const prerender = true;
---

<Layout title="Gaselle | DN">
  <main>
    <Partners tagline />
    <Criterias />
  </main>
</Layout>

<style></style>
