---
import Layout from '../templates/Layout.astro';
import Newsletter from '../organism/Newsletter.astro';

const title = 'Nyheter';

export const prerender = true;
---

<Layout {title}>
  <main>
    <h1>Siste nytt om gasellene</h1>
    <Newsletter title="Les suksess&shy;historiene og lær av andre Gaseller" />
  </main>
</Layout>
